.MainInfo {
    padding: 30px;
    background: radial-gradient(115.19% 118.79% at 16.91% 0%, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(274deg, #BCBFC7 -4.34%, #D5D7DC 46.57%), #D9D9D9;
}
.test{
    display: flex;
    justify-content: space-around;
}
.InfoStore {
    display: flex;
    flex-direction: column;
    gap: 17px;
    max-width: 700px;
}

.InfoService {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px 30px;
    background-color: white;
}

.InfoDelivery {
    display: flex;
    gap: 20px;
}

.InfoClient {
    display: flex;
    gap: 20px;
}

.InfoBox {
    display: flex;
    gap: 20px;
}

.InfoDeliveryPart {

}

.InfoClientPart {

}

.InfoBoxPart {

}
.InfoStoreHeading{
    font-size: 36px;
    font-weight: 900;
}
.InfoText{
    font-size: 16px;
    font-weight: 400;
}
.InfoBoldText{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;

}
.InfoIcon{
    width: 51px;
    height: 51px;
}