.ProductCard{
    display: flex;
    flex-direction: column;
    max-width: 255px;
    gap: 5px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.ProductCardImg{
    max-width: 260px;
    max-height: 300px;
}
.ProductCardName{
    font-size: 19px;
    font-weight: 700;
}
.ProductCardPrice{
    font-size: 17px;
    color: #3C3C3C;
    font-weight: 400;
}
.IconGroup{
    display: flex;
    gap: 17px;
}
.ProductLink{
    color: black;
    text-decoration: none;
}