.ProductsContainer{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.Shoes{
    font-size: 31px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 60px;
}
.MoreProducts{
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
}
.ProductCardList{
    display: flex;
    align-items: center;
    justify-content: space-between;
}